.filter {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
}

.btn {
    height: 30px;
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  border: 1px solid #3d5a80;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn_active {
    height: 30px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #3d5a80;
    color: #fff;
    border: 1px solid #fff;
}